In [1]:
import pandas as pd
import numpy as np

In [5]:
a = pd.Series(list([1,2,3,4,5]))
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
np_gorengan = np.array(["Bakwan", "Tahu", "Cireng", "Molen", "Risol"])
pd_gorengan = pd.Series(np_gorengan)
pd_gorengan

0    Bakwan
1      Tahu
2    Cireng
3     Molen
4     Risol
dtype: object

In [7]:
harga_gorengan = pd.Series([2000,2500,3000,1500,1000], index=["Bakwan", "Tahu", "Cireng", "Molen", "Risol"])
harga_gorengan

Bakwan    2000
Tahu      2500
Cireng    3000
Molen     1500
Risol     1000
dtype: int64

In [8]:
scalar_series = pd.Series(5., index=["a","b","c","d","e"])
scalar_series

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [12]:
harga_gorengan[0]

2000

In [13]:

harga_gorengan[0:5]

Bakwan    2000
Tahu      2500
Cireng    3000
Molen     1500
Risol     1000
dtype: int64

In [14]:
harga_gorengan.loc['Tahu']

2500

In [15]:
harga_gorengan.iloc[0]

2000

In [16]:
vector_series_1 = pd.Series([1,2,3,4],index=['a','b','c','d'])
vector_series_2 = pd.Series([10,20,30,40],index=['a','b','c','d'])
vector_series_1+vector_series_2

a    11
b    22
c    33
d    44
dtype: int64