In [12]:
import pandas as pd
import numpy as np

In [8]:
gorengan_list = {
    'Gorengan' : ['Bakwan', 'Tahu', 'Cireng', 'Molen', 'Risol'],
    'Harga (Rp)' : [2000,3000,2500,1500,1000],
    'Penjual' : ['Asep', 'Wawan', 'Ucup', 'Rojak', 'Udin']
}

data_gorengan = pd.DataFrame(gorengan_list)
data_gorengan

  Gorengan  Harga (Rp) Penjual
0   Bakwan        2000    Asep
1     Tahu        3000   Wawan
2   Cireng        2500    Ucup
3    Molen        1500   Rojak
4    Risol        1000    Udin

In [9]:
data_gorengan.Gorengan

0    Bakwan
1      Tahu
2    Cireng
3     Molen
4     Risol
Name: Gorengan, dtype: object

In [10]:
data_gorengan.describe

<bound method NDFrame.describe of   Gorengan  Harga (Rp) Penjual
0   Bakwan        2000    Asep
1     Tahu        3000   Wawan
2   Cireng        2500    Ucup
3    Molen        1500   Rojak
4    Risol        1000    Udin>

In [11]:
# Create dataframe with dict of series

harga_gorengan_2 = pd.Series([2000,3000,2500,1500,1000], index=['Asep', 'Wawan', 'Ucup', 'Rojak', 'Udin'])
gorengan_2 = pd.Series(
    ['Bakwan', 'Tahu', 'Cireng', 'Molen', 'Risol'], 
    index=['Asep', 'Wawan', 'Ucup', 'Rojak', 'Udin']
)

df_gorengan = pd.DataFrame({
    'Harga' : harga_gorengan_2,
    'Gorengan' : gorengan_2
})

df_gorengan

       Harga Gorengan
Asep    2000   Bakwan
Wawan   3000     Tahu
Ucup    2500   Cireng
Rojak   1500    Molen
Udin    1000    Risol

In [13]:
# Create dataframe from dict of ndarray

np_array = np.array([2003,2013,2015,2020,2022])
dict_ndarray = {'year':np_array}
df_ndarray = pd.DataFrame(dict_ndarray)
df_ndarray

   year
0  2003
1  2013
2  2015
3  2020
4  2022